<footer class="p-4 bg-dark text-white text-center">
    <div class="links">
        <h3>Connect With Us</h3>
        <div class="social-links">
            
            <a href="">
                <img src="images/facebook.png" alt="">
            </a>
            <a href="">
                <img src="images/instagram.png" alt="">
            </a>
            <a href="">
                <img src="images/youtube.png" alt="">
            </a>
            
        </div>
        
    </div>
    
    <ul class="d-flex justify-content-around list-unstyled w-100 mt-3">
        <li href="">&copy; <span id="date"></span></li>
        <li href="tel:">Contact Us</li>
        <li href="mailto: email@email.com">Email us</li>
    </ul>
    
</footer>

<script src="script.js"></script>