<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid d-flex">
        
        <div class="navbar-brand d-block">
            <div class="d-flex">
                <a class="navbar-brand text-uppercase d-flex gap-3" href="#">
                    <img src="images/logo.png" width="60px" alt="">
                    <div class="d-block">
                        <h2 class="text-uppercase">Site Name</h2> 
                        <h6>Site Slogan</h6> 
                    </div>
                </a>
                
            </div>
            
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse align-content-right justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav nav-pills nav-justified">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>