<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<style>
    .img:first-child {
        background-image: url('images/image1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img:nth-child(2) {
        background-image: url('images/image2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img:nth-child(3) {
        background-image: url('images/image3.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img:nth-child(4) {
        background-image: url('images/image4.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img:nth-child(5) {
        background-image: url('images/image5.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<body>

    <header>
        <%- include('./partials/nav.ejs')%>
    </header>

    <main class="container-sm mt-5 pt-5">
        <div class="fs-2 mt-3"><b>About [Org Name]</b></div>
        <p class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur culpa voluptas molestias ullam, eos possimus animi fugit sapiente commodi magnam, ratione velit mollitia beatae, repellendus quasi veniam? Quae quibusdam aliquam id dignissimos labore! Eius voluptatibus voluptatem corporis consectetur in non ea dolores omnis sequi deleniti amet quibusdam rem suscipit libero facere, at cupiditate impedit quia unde dolorem aliquid repellat! Ab nisi error in totam laudantium? Ea, necessitatibus consequatur inventore voluptatum quidem nemo sed totam dignissimos et, est suscipit accusamus tempore.
        </p>

        <div class="flex">

            <div class="flex-img">
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
            </div>

        </div>

        <p class="mt-5">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio earum quisquam ex debitis illum doloribus nemo esse accusamus commodi temporibus magnam ad quod exercitationem quis delectus, ut eligendi dolor? Veritatis, vel porro! Facere tempora dignissimos consectetur libero, a totam iusto quod aperiam? Quisquam optio enim reprehenderit recusandae magni corporis et atque voluptas excepturi, sequi dolor voluptatibus eaque dolores placeat assumenda qui possimus quas, beatae ipsa, veritatis ab provident hic ducimus?
        </p>
    </main>
    

    <%- include('./partials/footer.ejs')%>

</body>
</html>