<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header class="">
        <%- include('./partials/nav.ejs') %>

        <div class=" container pt-5 mt-5 flash-news">
            <h2></h2>
            <div id="carouselExampleIndicators" class="carousel slide container-fluid" data-bs-ride="carousel">

                <div class="carousel-indicators">
    
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    
                </div>
    
                <div class="carousel-inner">
    
                  <div class="carousel-item active">
                    <div class="flash-news-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta odio quisquam quo aut cum.</div>
                    <img src="images/image1.jpg" class="d-block w-100" alt="...">
                    <a href="">
                        <button class="more">Learn More</button>
                    </a>
                    
                  </div>
    
                  <div class="carousel-item">
                    <div class="flash-news-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta odio quisquam quo aut cum.</div>
                    <img src="images/image2.jpg" class="d-block w-100" alt="...">
                    <a href="">
                        <button class="more">Learn More</button>
                    </a>
                  </div>
    
                  <div class="carousel-item">
                    <div class="flash-news-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod soluta odio quisquam quo aut cum.</div>
                    <img src="images/image3.jpg" class="d-block w-100" alt="...">
                    <a href="">
                        <button class="more">Learn More</button>
                    </a>
                  </div>
    
                </div>
    
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    
                  <span class="visually-hidden">Previous</span>
    
                </button>
    
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
    
                  <span class="visually-hidden">Next</span>
    
                </button>
    
              </div>
        </div>

        <div class="iframe container mt-5">
            <iframe width="560" height="400" src="https://www.youtube.com/embed/-pnTDF-orcM?si=UB1yl_LQtsldNlg_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        
    </header>

    <div class="whole-page mt-5">
        <main class=" container-sm pt-3 mt-5">
            <h2><b>[Title]</b></h2>
    
            <div class="main-content">
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tempora impedit unde quae sint illo possimus doloremque reiciendis cumque asperiores. Ex delectus tempore enim quod maxime repudiandae facilis adipisci, numquam minima voluptatem nisi ut. Consequatur tempora dicta cumque ad quo.
                </div>
            
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tempora impedit unde quae sint illo possimus doloremque reiciendis cumque asperiores. Ex delectus tempore enim quod maxime repudiandae facilis adipisci, numquam minima voluptatem nisi ut. Consequatur tempora dicta cumque ad quo.
                </div>
            </div>
    
            <div class="goals-area mt-5 text-center">
                <h2>Our <span>Goals</span></h2>
                <ul class="list-unstyled mt-3">
                    <li>
                        <img src="images/prayer.jpg.cf.jpg" alt=""><br>
                        Title: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, rerum.
                    </li>
                    <li>
                        <img src="images/Duerer-Prayer.jpg" alt=""><br>
                        Title: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, rerum.
                    </li>
                    <li>
                        <img src="images/silent-prayer.jpg.cf.jpg" alt=""><br>
                        Title: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, rerum.
                    </li>
                </ul>
            </div>
    
            <div class="news-area mt-5 text-center">
                <h2><b>News <span>Arena</span></b></h2>
    
                <div class="news mt-3">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/news1" class="text-reset link-opacity-50-hover fs-5 link-underline-opacity-0">
                                <img src="images/gettyimages-1183683145-612x612.jpg" alt=""><br>
                                <b>Title</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis dicta, iure quia iusto labore!
                            </a> 
                        </li>
                        <li>
                            <a href="/news2" class="text-reset link-opacity-50-hover fs-5 link-underline-opacity-0">
                                <img src="images/wyd.jpg" alt=""><br>
                                <b>Title</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis dicta, iure quia iusto labore!
                            </a>
                        </li>
                        <li>
                            <a href="/news3" class="text-reset link-opacity-50-hover fs-5 link-underline-opacity-0">
                                <img src="images/ngb.png" alt=""><br>
                                <b>Title</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis dicta, iure quia iusto labore!
                            </a>
                        </li>
                        <li>
                            <a href="/news4" class="text-reset link-opacity-50-hover fs-5 link-underline-opacity-0">
                                <img src="images/basilica.jpg" alt=""><br>
                                <b>Title</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis dicta, iure quia iusto labore!
                            </a>
                        </li>
                        <li>
                            <a href="/news5" class="text-reset link-opacity-50-hover fs-5 link-underline-opacity-0">
                                <img src="images/aid.jpg" alt=""><br>
                                <b>Title</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis dicta, iure quia iusto labore!
                            </a>
                        </li>
                        <li>
                            <a href="/news6" class="text-reset link-opacity-50-hover fs-5 link-underline-opacity-0">
                                <img src="images/aid.jpg" alt=""><br>
                            <b>Title</b>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reiciendis dicta, iure quia iusto labore!
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    
            
            
        </main>
    
        <aside>
            <div class="readings container-fluid mt-5 pt-5 pb-1 text-center">
                <h2>Weekly Readings</h2>
                <div class="container mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-3">
                            Monday(Date) <br>
                            First Reading: ACTS 8:26-40<br>
                            Psalm: PSALMS 66:8-9, 16-17, 20<br>
                            Gospel Reading: JOHN 6:44-51<br>
    
                        </li>
    
                        <li class="mt-3">
                            Tuesday(Date) <br>
                            First Reading: ACTS 8:26-40<br>
                            Psalm: PSALMS 66:8-9, 16-17, 20<br>
                            Gospel Reading: JOHN 6:44-51<br>
    
                        </li>
    
                        <li class="mt-3">
                            Wednesday(Date) <br>
                            First Reading: ACTS 8:26-40<br>
                            Psalm: PSALMS 66:8-9, 16-17, 20<br>
                            Gospel Reading: JOHN 6:44-51<br>
    
                        </li>
    
                        <li class="mt-3">
                            Thursday(Date) <br>
                            First Reading: ACTS 8:26-40<br>
                            Psalm: PSALMS 66:8-9, 16-17, 20<br>
                            Gospel Reading: JOHN 6:44-51<br>
    
                        </li>
                        <li class="mt-3">
                            Friday(Date) <br>
                            First Reading: ACTS 8:26-40<br>
                            Psalm: PSALMS 66:8-9, 16-17, 20<br>
                            Gospel Reading: JOHN 6:44-51<br>
    
                        </li>
                        <li class="mt-3">
                            Saturday(Date) <br>
                            First Reading: ACTS 8:26-40<br>
                            Psalm: PSALMS 66:8-9, 16-17, 20<br>
                            Gospel Reading: JOHN 6:44-51<br>
    
                        </li>
                        <li class="mt-3">
                            Sunday(Date) <br>
                            First Reading: ACTS 8:26-40<br>
                            Psalm: PSALMS 66:8-9, 16-17, 20<br>
                            Second Reading: 1 JOHN 3:1-2 <br>
                            Gospel Reading: JOHN 6:44-51<br>
    
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>

    <div class="quotes container" id="quotes">
        
    </div>

    <%- include('./partials/footer.ejs')%>
    
</body>
</html>