<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <header class="">
        <%- include('./partials/nav.ejs') %>

    </header>

    <div class="whole-page ">
        <main class=" container-sm pt-5 mt-5">
            <h2><b>[Title]</b></h2>
    
            <div class="news-area mt-5">
    
                <div class="news mt-3">
                    <img src="images/wyd.jpg" alt=""><br>
                    <h2 class="mt-3"><b>Article title</b></h2>
                    <i>Updated on 1st May, 2024</i>
                    <p class="mt-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium eum, molestiae perferendis illum hic totam accusantium sed repudiandae id vero! Ab, inventore! Rerum ea voluptas sit nam est fuga accusantium velit saepe reiciendis sed. Unde deserunt blanditiis eos sit. Laboriosam repellendus quasi voluptas et ea, doloribus sunt laudantium accusantium laborum cum mollitia voluptates? Animi dolor consequatur nisi facere amet quibusdam rem velit nam molestiae officia atque, totam corporis, possimus aut nostrum laborum nihil! Optio est ex architecto vitae, id repudiandae?
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sequi facilis consequatur tempore quos magni quibusdam alias cum at optio ratione aut dignissimos, impedit officia autem odio voluptas nobis accusantium. Hic impedit quibusdam quas consequuntur, magnam, dolorum quasi optio, dicta iste voluptatum debitis ex! Saepe ratione, a, nulla iusto doloremque ipsa, iste numquam minus itaque hic odio libero. Facilis iste libero corporis minima quo dolorum quos dolore enim reprehenderit, distinctio dicta eaque voluptas aperiam velit ipsum ipsa fugit quis quidem. Dicta consequatur, sapiente quaerat maxime ex accusantium sequi eaque quisquam impedit hic fugiat iste ut incidunt earum est, molestias harum ipsam explicabo. Unde blanditiis et ut deleniti eveniet, esse dolor quidem fugit magnam, atque eius. Mollitia ipsam omnis dolorem adipisci.
                        <br><br>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, quo asperiores, nesciunt odio et temporibus cumque quidem sit tempora adipisci ab amet veniam. Asperiores nobis corporis facere sequi dolore aspernatur magni molestias, animi omnis, accusantium nemo iste id, et nisi odit nihil fuga pariatur ipsum tempora molestiae corrupti similique vitae? Recusandae nobis maiores aspernatur quo, consequatur quaerat eaque ipsa provident nam dolores ullam est ex molestias asperiores voluptate facere iusto?
                    </p>
                </div>
            </div>
    
            
            
        </main>
    
        <aside>
            
        </aside>
    </div>

    <%- include('./partials/footer.ejs')%>
    
</body>
</html>